<li class="mx-auto my-1">
	{{burger_name}}
	{{#if devoured}}
	<button class="change-devour btn btn-primary btn-sm" data-id="{{id}}" data-eaten="{{devoured}}">
		Regurgitate!
	</button>
	{{else}}
	<button class="change-devour btn btn-success btn-sm" data-id="{{id}}" data-eaten="{{devoured}}">
		Inhale!
	</button>
	{{/if}}
</li>